.effect{
    margin-bottom: 30px;
}
.effect, .effect *{
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.effect img{
    width: 100% !important;
}

/*----------------------- Simple Effect Start ---------------------*/
.simple-effect{
    position: relative;
    opacity: 0.9;
    filter: alpha(opacity=90);
    border: 1px solid #cbcbcb;
    padding: 2px;
}
.simple-effect>a{
    position: relative;
    display: block;
}
.simple-effect>a>.title{
    position: absolute;
    width: 100%;
    padding: 5px 10px;
    background: rgba(0,0,0, 0.7);
    bottom: 0px;
    right: 0px;
    color: #f5f5f5;
}
.simple-effect:hover{
    opacity: 1;
    filter: alpha(opacity=100);
}
.simple-effect>a:hover .title{
    background: rgba(0, 0, 0, 0.9);
    color: #fff;
}
/*------------------------ Simple Effect End ----------------------*/


/*-------------------- Bottom To Top Effect Start -----------------*/
.bottom-to-top-effect{
    position: relative;
    width: 100%;
    top: 0;
    overflow: hidden;
}
.bottom-to-top-effect .info-hover{
    position: absolute;
    width: 100%;
    height: 96%;
    top: 80%;
    background: rgba(0,0,0, .35);
    color: #f9f9f9;
    padding-top: 10px;
    text-align: center;
    line-height: 22px;
}
.bottom-to-top-effect:hover .info-hover{
    top: 0;
    height: 100%;
}
.bottom-to-top-effect .info-hover h2{
    font-size: 16px;
    line-height: 20px;
    margin-top: 5px;
}
.bottom-to-top-effect .img-thumbnail{
    padding: 0;
    border-color: #bbb;
}
.bottom-to-top-effect img.img-thumbnail{
    width: 100%;
    height: auto;
    margin: 0 auto
}
.bottom-to-top-effect a.url{
    position: relative;
    border: 1px solid #f1f1f1;
    background: transparent;
    padding: 0 10px;
    position: absolute;
    top: 200px;
    opacity: 0;
    filter: alpha(opacity=0);
    right: 0;
    bottom: 0;
    left: 0;
    width: 70%;
    height: 36px;
    margin: auto;
    text-align: center;
    color: #f1f1f1;
    line-height: 36px;
    z-index: 2;
    border-radius: 25px;
}
.bottom-to-top-effect:hover a.url{
    top: 50px;
    opacity: 1;
    filter: alpha(opacity=100);
    color: #fff;
}
.bottom-to-top-effect h2{
    -moz-transition: ease .5s all;
    -webkit-transition: ease .5s all;
    -o-transition: ease .5s all;
    transition: ease .5s all;
    text-align: center;
}
.bottom-to-top-effect:hover h2{
    margin-top: 40px
}
/*--------------------- Bottom To Top Effect End ------------------*/


/*------------------------ Border Effect Start --------------------*/
.effect-border .desc {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    display: block;
    z-index: 1;
}
.effect-border .desc-in{
    display: inline-block;
    padding: 20% 30px;
    vertical-align: middle;
    position: absolute;
    z-index: 3;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    margin: 0 auto;
}
.effect-border .desc-in h3 {
    color: #f5f5f5;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0,-20px,0);
    transform: translate3d(0,-20px,0);
    margin-bottom: 20px;
}
.effect-border .desc-in .btn-more {
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0,20px,0);
    transform: translate3d(0,20px,0);
    opacity: 0;
    filter: alpha(opacity=0);
}
.effect-border:hover .desc-in{
    background: rgba(0, 0, 0, 0.8);
}
.effect-border:hover .desc:before, .effect-border:hover .desc:after {
    opacity: 1;
    filter: alpha(opacity=100);
}
.effect-border:hover .desc-in h3, .effect-border:hover .desc-in .btn-more {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}



.effect-border .desc:before, .effect-border .desc:after {
    content: '';
    position: absolute;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    opacity:0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}
.effect-border .desc:before {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    z-index: 4;
    -webkit-transform: scale(0,1);
    transform: scale(0,1);
}
.effect-border .desc:after {
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    z-index: 4;
    -webkit-transform: scale(1,0);
    transform: scale(1,0);
}
.effect-border:hover .desc:before {
    -webkit-transform: scale(1);
    transform: scale(1);
}
.effect-border:hover .desc:after {
    -webkit-transform: scale(1);
    transform: scale(1);
}
/*------------------------- Border Effect End ---------------------*/


/*----------------------- Sides Effect Start ----------------------*/
.sides-effect{
    position: relative;
}
.sides-effect .absolute{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    padding: 10px;
    overflow: hidden;
}
.sides-effect h2{
    position: relative;
    top: 10px;
    right: 0;
    height: 30px;
    overflow: hidden;
    color: #fff;
    margin-bottom: 20px;
}
.sides-effect h2:after{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: #212529;
    right: 0;
    -webkit-transition: -webkit-transform .35s;
    transition: transform .35s;
    -webkit-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);
}
.sides-effect p{
    font-size: 12px;
    opacity: 0;
    filter: alpha(opacity=0);
    transform: translateX(-50px);
}

.sides-effect:hover .absolute{
    background: rgba(255, 255, 255, 0.75);
}
.sides-effect:hover h2{
    color: #000;
}
.sides-effect:hover h2:after{
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.sides-effect:hover p{
    opacity: 1;
    filter: alpha(opacity=100);
    transform: translateX(0);
}

/*------------------------- Sides Effect End ---------------------*/


/*------------------------ Responsive Start -----------------------*/
@media(min-width:768px) and (max-width: 1199px){
    .bottom-to-top-effect .info-hover {
        top: 70%;
    }
    .effect-border .desc-in h3 {
        margin-bottom: 6px;
    }
}

@media(max-width:767px){
    .bottom-to-top-effect .info-hover{
        bottom: 0;
        top: initial;
        height: auto;
        padding: 10px 0;
    }
}
@media(max-width:420px){
    .effect-border .desc-in h3{
        font-size: 14px;
        margin-bottom: 10px;
    }
}
/*------------------------- Responsive End -------------------------*/